body{
    margin:0;
    padding:0;
    background:#f4f6f9;
    font-family:Arial, Helvetica, sans-serif;
}

/* Sidebar */

.sidebar{

    width:260px;
    min-height:100vh;

    background:#212529;

    color:white;

    padding:20px;

}

.logo{

    color:white;

    font-size:22px;

    font-weight:bold;

    margin-bottom:20px;

}

.sidebar a{

    display:block;

    color:white;

    text-decoration:none;

    padding:14px 16px;

    margin-bottom:8px;

    border-radius:8px;

    transition:0.3s;

}

.sidebar a:hover{

    background:#0d6efd;

    color:white;

}

.logout{

    color:#ff6b6b !important;

}

/* Navbar */

.navbar{

    background:white;

}

/* Cards */

.card{

    border:none;

    border-radius:12px;

}

/* Table */

table{

    background:white;

}

/* Responsive */

@media(max-width:768px){

.sidebar{

    width:220px;

}

}