<form method="POST" action="/login">

    <div class="mb-3">
        <label>Email</label>
        <input
            type="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            required>
    </div>

    <div class="mb-3">
        <label>Password</label>
        <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
            required>
    </div>

    <button class="btn btn-primary w-100">
        Login
    </button>

</form>