{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2>User List</h2>

        <a href="{{ url_for('users.create_user') }}"
           class="btn btn-success">
            ➕ Add User
        </a>

    </div>

    <hr>

    <table class="table table-bordered table-hover">

        <thead class="table-dark">

            <tr>

                <th>ID</th>
                <th>Employee ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Department</th>
                <th>Mobile</th>
                <th>Role</th>
                <th width="180">Action</th>

            </tr>

        </thead>

        <tbody>

        {% if users %}

            {% for user in users %}

            <tr>

                <td>{{ user.id }}</td>
                <td>{{ user.employee_id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.department }}</td>
                <td>{{ user.mobile }}</td>

                <td>

                    {% if user.role == "Admin" %}

    <span class="badge bg-danger">
        Admin
    </span>

{% elif user.role == "Technician" %}

    <span class="badge bg-warning text-dark">
        Technician
    </span>

{% else %}

    <span class="badge bg-primary">
        Employee
    </span>

{% endif %}

                </td>

                <td>

                    <a href="{{ url_for('users.edit_user', id=user.id) }}"
                       class="btn btn-warning btn-sm">
                        ✏ Edit
                    </a>

                    <a href="{{ url_for('users.delete_user', id=user.id) }}"
                       class="btn btn-danger btn-sm"
                       onclick="return confirm('Delete this user?')">
                        🗑 Delete
                    </a>

                </td>

            </tr>

            {% endfor %}

        {% else %}

            <tr>

                <td colspan="8" class="text-center">

                    No Users Found

                </td>

            </tr>

        {% endif %}

        </tbody>

    </table>

</div>

{% endblock %}