<div class="sidebar">

    <h2 class="logo">
        IT Helpdesk
    </h2>

    <hr>

    <!-- Dashboard -->
    <a href="{{ url_for('dashboard.dashboard_home') }}">
        🏠 Dashboard
    </a>

    <!-- Tickets -->
    <a href="{{ url_for('tickets.create_ticket') }}">
        ➕ Create Ticket
    </a>

    <a href="{{ url_for('tickets.view_tickets') }}">
        🎫 View Tickets
    </a>

    <!-- Admin Menu -->
    {% if current_user.role == "Admin" %}

    <a href="{{ url_for('assets.view_assets') }}">
        💻 Assets
    </a>

    <a href="{{ url_for('users.view_users') }}">
        👤 Users
    </a>

    <a href="{{ url_for('reports.reports_dashboard') }}">
        📊 Reports
    </a>

    <a href="#">
        ⚙️ Settings
    </a>

    {% endif %}

    <hr>

    <!-- Logout -->
    <a href="{{ url_for('auth.logout') }}" class="logout">
        🚪 Logout
    </a>

</div>